<div class="sidenav-component">
  <div class="sidenav" id="sidenav">
    <div class="nav-top">
      <a>
        <img alt="Monday Logo" class="surface-company-logo-image"
             src="../../../assets/images/mondaycom-icon.svg" width="40">
      </a>

      <a class="active">
        <i class="fas fa-home"></i>
      </a>
      <a>
        <i class="far fa-bell"></i>
      </a>

    </div>
    <div class="nav-bottom">
      <a>
        <i class="fas fa-inbox"></i>
      </a>
      <a>
        <i class="fas fa-user-plus"></i>
      </a>

      <a>
        <i class="fas fa-search"></i>
      </a>

      <a>
        <i class="fas fa-question"></i>
      </a>

      <a>
        <div class="avatar">
          <span class="initials">ER</span>
        </div>
      </a>
    </div>
  </div>
  <div class="boards-container" id="boards-container">
    <button (click)="toggleBoards()" *ngIf="boardsActive" class="close-boards-btn">
      <i class="fas fa-chevron-left"></i>
    </button>
    <button (click)="toggleBoards()" *ngIf="!boardsActive" class="close-boards-btn">
      <i class="fas fa-chevron-right"></i>
    </button>
    <div class="boards-top">
      <div class="boards-title">
        <span class="boards-text"><i class="fas fa-briefcase board-icon"></i> Boards</span>
        <i class="fas fa-bolt bolt-icon"></i>
      </div>

      <div class="boards margin-top-5">
        <span class="main-boards-title"><b>Main  {{projects.length}}</b></span>

        <div class="boards-list">

          <a *ngFor="let project of projects; index as i" class="margin-top-2 board-item"
             [routerLink]="['/dashboard/boards/', project.id]" routerLinkActive="active">
            {{project.name}}
          </a>

          <button class="add-board-btn margin-top-3 float-right" id="add-board-btn" (click)="showAddBoardModal()">
            <i class="fas fa-plus add-board-icon"></i> New
          </button>

          <span class="shareable-boards-title margin-top-5"><b>Shareable <i
            class="fas fa-share-alt desc-boards-icon"></i>  0</b></span>

          <button class="add-board-btn add-shareable-btn margin-top-3 float-right" id="add-shareable-btn">
            <i class="fas fa-plus add-board-icon"></i> New
          </button>

          <span class="shareable-boards-title margin-top-5"><b>Private <i
            class="fas fa-lock desc-boards-icon"></i>  0</b></span>

          <button class="add-board-btn add-private-btn margin-top-3 float-right margin-bottom-3" id="add-private-btn">
            <i class="fas fa-plus add-board-icon"></i> New
          </button>
        </div>
      </div>
    </div>

    <div class="boards-bottom" id="boards-bottom">
      <a class="margin-top-2 board-bottom-item">
        <i class="fas fa-columns board-icon"></i> Dashboards
      </a>
      <a class="margin-top-2 board-bottom-item">
        <i class="fas fa-calendar-check board-icon"></i> My Week
      </a>

      <a class="margin-top-2 board-bottom-item margin-bottom-4" routerLink="/">
        <i class="fas fa-sign-out-alt board-icon"></i> Logout
      </a>
    </div>
  </div>
  <div class="margin-active" id="main">
    <div id="addBoardModal" class="modal">
      <div class="modal-content">
        <div class="modal-title">
          <span class="title">Add new board</span>
          <span class="close" (click)="closeAddBoardModal()">&times;</span>
        </div>
        <div class="modal-body">
          <input type="text" class="newBoardName margin-top-3" placeholder="Empty board" [formControl]="newBoardTitle">
          <span class="visibility">Visible to everyone on thursday.</span>
        </div>

        <div class="modal-footer">
          <div class="actions">
            <!--<button class="button-flat text-dark-grey">
              Cancelar
            </button>-->
          </div>
        </div>
      </div>

    </div>
    <router-outlet></router-outlet>
  </div>
</div>
