<div class="dashboard-view">
  <div class="header">
    <div class="boards-info">
      <h1 class="board-title">Marketing Content Planning</h1>
      <h4 class="board-desc margin-top-3">Let's get social!</h4>
    </div>

    <div class="boards-actions">
      <button class="button-outline">Add View</button>

      <div class="group-button">
        <button>Unsuscribe</button>
        <button><i class="fas fa-user-friends"></i> / 5</button>
        <button><i class="fab fa-stumbleupon-circle"></i></button>
      </div>

      <button class="button-flat"><i class="fas fa-ellipsis-h"></i></button>
    </div>
  </div>
</div>
