<div class="tasks-table margin-top-5 margin-bottom-2">
  <table class="table">
    <thead>
    <tr>
      <th>
        <button class="options-button margin-right-2">
          <i class="fas fa-caret-down"></i>
        </button>
        <div class="task-category">
          {{taskCategory.name}}
        </div>
      </th>

      <th>Priority</th>
      <th>Timeline</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let task of tasks; index as i">
      <td>
        <span class="task">{{task.name}}</span>
      </td>

      <td>
        <star-rating starType="icon" [rating]="task.priority" staticColor="ok" size="medium"
                     (ratingChange)="onRate($event)"></star-rating>
      </td>

      <td>
        <input type="text" [locale]="{applyLabel: 'ok', format: 'MMM DD'}" ngxDaterangepickerMd
               [(ngModel)]="task.timeline" class="task-timeline" (change)="onRate($event)" placeholder="Select date"
               readonly/>
      </td>
    </tr>

    <tr>
      <td colspan="3" class="add-task-row">
        <input type="text" class="add-task-input" placeholder="Crete a New Pulse (Row)">
      </td>
    </tr>

    <tr>
      <td></td>
      <td>{{generatePriorityProm()}} / 5</td>
    </tr>
    </tbody>
  </table>
</div>
