/* Custom colors variables */
$color-blue-navy: #051540;
$secondary: #292F4C;
$secondary-selected: rgba(255, 255, 255, 0.1);
$secondary-hover: rgba(0, 0, 0, 0.25);
$light: #f7f7f7;
$primary: #0fa2e2;
$primary-hover: #0d91ca;
$grey: #c5c7d0;
$light-grey: #e0e0e0;
$semi-dark: #323338;
$dark-grey: #777;
$white: #FFFFFF;
$theme-colors: (
  'blue-navy': $color-blue-navy,
  'custom-light': $light,
  'blue': $primary,
  'dark-grey': $dark-grey,
  'light-grey': $light-grey,
  'grey': $grey,
  'white':$white,
  'primary':$primary,
  'primary-hover':$primary-hover,
  'semi-dark':$semi-dark,
  'secondary':$secondary,
  'secondary-selected':$secondary-selected,
  'secondary-hover':$secondary-hover,
);
